<!DOCTYPE html>

<html>


<center>

<head>
<h1> Pagina Inicial da Aplicação </h1>
</head>

<body>
    <p>Desafio Ruby on Rails  </p>
    <br/>
    <br/>
    <br/>
    <br/>
    <p> by  <strong><a href="https://br.linkedin.com/in/joel-ribeiro-a1a858b4"><u>Joel</u></a> & Matheus</strong> </p>

</body>

</center>



</html>